*,*::after,*::before{
  box-sizing: border-box;
}
header{
  color: rgb(224, 216, 231);
  font-size: 2em;
  font-weight: bold;
  line-height: 3em;
  font-style: italic;
  background-color: #6a45ee;
  margin:10px;
  border-radius: 10px;
}
header::first-letter{
  font-size: 3em;
  color: green;
}
.site-card-border-less-wrapper {
  padding: 45px;
  background: #6a45ee;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  margin:10px;
}
textarea,button,Input{
  width: 100%;
  margin: 10px 0px;
  border-radius: 10px;
  text-align: center;
}
.grid-box{
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 1px solid rgb(12, 11, 11);
}
@media only screen and (max-width:800px){
  .grid-box{
    display: grid;
    grid-template-columns: 100%;
  }
}
.grid-box>div{
  padding: 10px;
}
table,th,tr,td{
  border-collapse: collapse;
  border: 1px solid;
}
button{
  background-color: mediumblue;
  color:white;
}
